In [ ]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np

In [4]:
csv_data=pd.read_csv("./market_data.csv")

In [5]:
print(csv_data)

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15        9.300          Low Fat         0.016047
1              DRC01        5.920          Regular         0.019278
2              FDN15       17.500          Low Fat         0.016760
3              FDX07       19.200          Regular         0.000000
4              NCD19        8.930          Low Fat         0.000000
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

                  Item_Type  Item_MRP Outlet_Identifier  \
0                     Dairy  249.8092            OUT049
1               Soft Drinks   48.2692            OUT018
2                      Meat  141.6180            OUT049
3     Fruits and Vegetables  182.0950            OUT010
4                 Household   53.8614            OUT013
...                     ...       ...               ...
8518            Snack Foods  214.5218            OUT013
8519           Baking Goods  108.1570            OUT045
8520     Health and Hygiene   85.1224            OUT035
8521            Snack Foods  103.1332            OUT018
8522            Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
3                          1998         NaN               Tier 3
4                          1987        High               Tier 3
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
3         Grocery Store           732.3800
4     Supermarket Type1           994.7052
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [6]:
print(csv_data.head())

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15         9.30          Low Fat         0.016047
1           DRC01         5.92          Regular         0.019278
2           FDN15        17.50          Low Fat         0.016760
3           FDX07        19.20          Regular         0.000000
4           NCD19         8.93          Low Fat         0.000000

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052

In [7]:
print(csv_data.head(10))

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15        9.300          Low Fat         0.016047
1           DRC01        5.920          Regular         0.019278
2           FDN15       17.500          Low Fat         0.016760
3           FDX07       19.200          Regular         0.000000
4           NCD19        8.930          Low Fat         0.000000
5           FDP36       10.395          Regular         0.000000
6           FDO10       13.650          Regular         0.012741
7           FDP10          NaN          Low Fat         0.127470
8           FDH17       16.200          Regular         0.016687
9           FDU28       19.200          Regular         0.094450

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
6            Snack Foods   57.6588            OUT013
7            Snack Foods  107.7622            OUT027
8           Frozen Foods   96.9726            OUT045
9           Frozen Foods  187.8214            OUT017

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3
5                       2009      Medium               Tier 3
6                       1987        High               Tier 3
7                       1985      Medium               Tier 3
8                       2002         NaN               Tier 2
9                       2007         NaN               Tier 2

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052
5  Supermarket Type2           556.6088
6  Supermarket Type1           343.5528
7  Supermarket Type3          4022.7636
8  Supermarket Type1          1076.5986
9  Supermarket Type1          4710.5350

In [8]:
print(csv_data.tail())

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

               Item_Type  Item_MRP Outlet_Identifier  \
8518         Snack Foods  214.5218            OUT013
8519        Baking Goods  108.1570            OUT045
8520  Health and Hygiene   85.1224            OUT035
8521         Snack Foods  103.1332            OUT018
8522         Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

In [9]:
print(csv_data.tail(8))

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
8515           FDH24       20.700          Low Fat         0.021518
8516           NCJ19       18.600          Low Fat         0.118661
8517           FDF53       20.750              reg         0.083607
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

               Item_Type  Item_MRP Outlet_Identifier  \
8515        Baking Goods  157.5288            OUT018
8516              Others   58.7588            OUT018
8517        Frozen Foods  178.8318            OUT046
8518         Snack Foods  214.5218            OUT013
8519        Baking Goods  108.1570            OUT045
8520  Health and Hygiene   85.1224            OUT035
8521         Snack Foods  103.1332            OUT018
8522         Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
8515                       2009      Medium               Tier 3
8516                       2009      Medium               Tier 3
8517                       1997       Small               Tier 1
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
8515  Supermarket Type2          1571.2880
8516  Supermarket Type2           858.8820
8517  Supermarket Type1          3608.6360
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

In [10]:
print(csv_data.tail(-4))

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
4              NCD19        8.930          Low Fat         0.000000
5              FDP36       10.395          Regular         0.000000
6              FDO10       13.650          Regular         0.012741
7              FDP10          NaN          Low Fat         0.127470
8              FDH17       16.200          Regular         0.016687
...              ...          ...              ...              ...
8518           FDF22        6.865          Low Fat         0.056783
8519           FDS36        8.380          Regular         0.046982
8520           NCJ29       10.600          Low Fat         0.035186
8521           FDN46        7.210          Regular         0.145221
8522           DRG01       14.800          Low Fat         0.044878

               Item_Type  Item_MRP Outlet_Identifier  \
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
6            Snack Foods   57.6588            OUT013
7            Snack Foods  107.7622            OUT027
8           Frozen Foods   96.9726            OUT045
...                  ...       ...               ...
8518         Snack Foods  214.5218            OUT013
8519        Baking Goods  108.1570            OUT045
8520  Health and Hygiene   85.1224            OUT035
8521         Snack Foods  103.1332            OUT018
8522         Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
4                          1987        High               Tier 3
5                          2009      Medium               Tier 3
6                          1987        High               Tier 3
7                          1985      Medium               Tier 3
8                          2002         NaN               Tier 2
...                         ...         ...                  ...
8518                       1987        High               Tier 3
8519                       2002         NaN               Tier 2
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
4     Supermarket Type1           994.7052
5     Supermarket Type2           556.6088
6     Supermarket Type1           343.5528
7     Supermarket Type3          4022.7636
8     Supermarket Type1          1076.5986
...                 ...                ...
8518  Supermarket Type1          2778.3834
8519  Supermarket Type1           549.2850
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[8519 rows x 12 columns]

In [11]:
print(csv_data.columns)

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [12]:
csv_data.index

RangeIndex(start=0, stop=8523, step=1)

In [13]:
csv_data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [14]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [15]:
csv_data.values

array([['FDA15', 9.3, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        3735.138],
       ['DRC01', 5.92, 'Regular', ..., 'Tier 3', 'Supermarket Type2',
        443.4228],
       ['FDN15', 17.5, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        2097.27],
       ...,
       ['NCJ29', 10.6, 'Low Fat', ..., 'Tier 2', 'Supermarket Type1',
        1193.1136],
       ['FDN46', 7.21, 'Regular', ..., 'Tier 3', 'Supermarket Type2',
        1845.5976],
       ['DRG01', 14.8, 'Low Fat', ..., 'Tier 1', 'Supermarket Type1',
        765.67]], shape=(8523, 12), dtype=object)

In [16]:
csv_data.value_counts()

Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  Item_Type     Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  Outlet_Size  Outlet_Location_Type  Outlet_Type        Item_Outlet_Sales
DRA12            11.600       LF                0.000000         Soft Drinks   141.9154  OUT035             2004                       Small        Tier 2                Supermarket Type1  992.7078             1
FDV35            19.500       Low Fat           0.128182         Breads        156.1314  OUT035             2004                       Small        Tier 2                Supermarket Type1  2792.3652            1
FDV25            5.905        low fat           0.045614         Canned        221.5456  OUT013             1987                       High         Tier 3                Supermarket Type1  6852.4136            1
                              Low Fat           0.045838         Canned        222.5456  OUT018             2009                       Medium       Tier 3                Supermarket Type2  3315.6840            1
                                                0.045723         Canned        222.1456  OUT049             1999                       Medium       Tier 1                Supermarket Type1  5747.1856            1
                                                                                                                                                                                                                 ..
FDJ16            9.195        Low Fat           0.115064         Frozen Foods  58.6246   OUT049             1999                       Medium       Tier 1                Supermarket Type1  868.8690             1
                                                0.114886         Frozen Foods  59.6246   OUT046             1997                       Small        Tier 1                Supermarket Type1  1100.5674            1
                              LF                0.114864         Frozen Foods  59.0246   OUT035             2004                       Small        Tier 2                Supermarket Type1  1853.5872            1
FDJ15            11.350       Regular           0.023359         Dairy         184.4608  OUT049             1999                       Medium       Tier 1                Supermarket Type1  4042.7376            1
NCZ54            14.650       Low Fat           0.083699         Household     163.4552  OUT018             2009                       Medium       Tier 3                Supermarket Type2  2599.2832            1
Name: count, Length: 4650, dtype: int64

In [17]:
csv_data.ndim

2

In [18]:
csv_data.size

102276

In [19]:
csv_data.shape

(8523, 12)

In [20]:
csv_data.empty

False

In [21]:
print(csv_data["Item_Weight"])

0        9.300
1        5.920
2       17.500
3       19.200
4        8.930
         ...
8518     6.865
8519     8.380
8520    10.600
8521     7.210
8522    14.800
Name: Item_Weight, Length: 8523, dtype: float64

In [22]:
csv_data.loc[5,'Outlet_Identifier']

'OUT018'

In [23]:
csv_data.loc[5]

Item_Identifier                          FDP36
Item_Weight                             10.395
Item_Fat_Content                       Regular
Item_Visibility                            0.0
Item_Type                         Baking Goods
Item_MRP                               51.4008
Outlet_Identifier                       OUT018
Outlet_Establishment_Year                 2009
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 3
Outlet_Type                  Supermarket Type2
Item_Outlet_Sales                     556.6088
Name: 5, dtype: object

In [24]:
print(csv_data.loc[2:5])

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
2           FDN15       17.500          Low Fat          0.01676
3           FDX07       19.200          Regular          0.00000
4           NCD19        8.930          Low Fat          0.00000
5           FDP36       10.395          Regular          0.00000

               Item_Type  Item_MRP Outlet_Identifier  \
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3
5                       2009      Medium               Tier 3

         Outlet_Type  Item_Outlet_Sales
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052
5  Supermarket Type2           556.6088

In [25]:
print(csv_data.iloc[5])

Item_Identifier                          FDP36
Item_Weight                             10.395
Item_Fat_Content                       Regular
Item_Visibility                            0.0
Item_Type                         Baking Goods
Item_MRP                               51.4008
Outlet_Identifier                       OUT018
Outlet_Establishment_Year                 2009
Outlet_Size                             Medium
Outlet_Location_Type                    Tier 3
Outlet_Type                  Supermarket Type2
Item_Outlet_Sales                     556.6088
Name: 5, dtype: object

In [26]:
print(csv_data["Item_Visibility"].iloc[1])

0.019278216

In [27]:
print("Shows data to 5th to less than 10th in a row:")
print(csv_data.iloc[5:10])

Shows data to 5th to less than 10th in a row:
  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
5           FDP36       10.395          Regular         0.000000
6           FDO10       13.650          Regular         0.012741
7           FDP10          NaN          Low Fat         0.127470
8           FDH17       16.200          Regular         0.016687
9           FDU28       19.200          Regular         0.094450

      Item_Type  Item_MRP Outlet_Identifier  Outlet_Establishment_Year  \
5  Baking Goods   51.4008            OUT018                       2009
6   Snack Foods   57.6588            OUT013                       1987
7   Snack Foods  107.7622            OUT027                       1985
8  Frozen Foods   96.9726            OUT045                       2002
9  Frozen Foods  187.8214            OUT017                       2007

  Outlet_Size Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
5      Medium               Tier 3  Supermarket Type2           556.6088
6        High               Tier 3  Supermarket Type1           343.5528
7      Medium               Tier 3  Supermarket Type3          4022.7636
8         NaN               Tier 2  Supermarket Type1          1076.5986
9         NaN               Tier 2  Supermarket Type1          4710.5350

In [28]:
print(csv_data[csv_data.Item_Type=='Frozen Foods'])

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
8              FDH17       16.200          Regular         0.016687
9              FDU28       19.200          Regular         0.094450
24             FDR28       13.850          Regular         0.025896
51             FDM40       10.195          Low Fat         0.159804
63             FDY40          NaN          Regular         0.150286
...              ...          ...              ...              ...
8477           FDC05       13.100          Regular         0.099343
8482           FDZ28       20.000          Regular         0.051702
8507           FDN28        5.880          Regular         0.030242
8511           FDF05       17.500          Low Fat         0.026980
8517           FDF53       20.750              reg         0.083607

         Item_Type  Item_MRP Outlet_Identifier  Outlet_Establishment_Year  \
8     Frozen Foods   96.9726            OUT045                       2002
9     Frozen Foods  187.8214            OUT017                       2007
24    Frozen Foods  165.0210            OUT046                       1997
51    Frozen Foods  141.5154            OUT013                       1987
63    Frozen Foods   51.0692            OUT019                       1985
...            ...       ...               ...                        ...
8477  Frozen Foods  198.1768            OUT017                       2007
8482  Frozen Foods  125.8678            OUT018                       2009
8507  Frozen Foods  101.7990            OUT035                       2004
8511  Frozen Foods  262.5910            OUT018                       2009
8517  Frozen Foods  178.8318            OUT046                       1997

     Outlet_Size Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
8            NaN               Tier 2  Supermarket Type1          1076.5986
9            NaN               Tier 2  Supermarket Type1          4710.5350
24         Small               Tier 1  Supermarket Type1          4078.0250
51          High               Tier 3  Supermarket Type1           850.8924
63         Small               Tier 1      Grocery Store           147.8076
...          ...                  ...                ...                ...
8477         NaN               Tier 2  Supermarket Type1          1970.7680
8482      Medium               Tier 3  Supermarket Type2           763.0068
8507       Small               Tier 2  Supermarket Type1           515.9950
8511      Medium               Tier 3  Supermarket Type2          4207.8560
8517       Small               Tier 1  Supermarket Type1          3608.6360

[856 rows x 12 columns]

In [29]:
print(csv_data[(csv_data.Item_Type=='Frozen Foods') & (csv_data.Item_Weight>10)])

     Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
8              FDH17       16.200          Regular         0.016687
9              FDU28       19.200          Regular         0.094450
24             FDR28       13.850          Regular         0.025896
51             FDM40       10.195          Low Fat         0.159804
78             FDL04       19.000          Low Fat         0.112557
...              ...          ...              ...              ...
8461           FDB17       13.150          Low Fat         0.036672
8477           FDC05       13.100          Regular         0.099343
8482           FDZ28       20.000          Regular         0.051702
8511           FDF05       17.500          Low Fat         0.026980
8517           FDF53       20.750              reg         0.083607

         Item_Type  Item_MRP Outlet_Identifier  Outlet_Establishment_Year  \
8     Frozen Foods   96.9726            OUT045                       2002
9     Frozen Foods  187.8214            OUT017                       2007
24    Frozen Foods  165.0210            OUT046                       1997
51    Frozen Foods  141.5154            OUT013                       1987
78    Frozen Foods  104.9622            OUT017                       2007
...            ...       ...               ...                        ...
8461  Frozen Foods  182.5976            OUT046                       1997
8477  Frozen Foods  198.1768            OUT017                       2007
8482  Frozen Foods  125.8678            OUT018                       2009
8511  Frozen Foods  262.5910            OUT018                       2009
8517  Frozen Foods  178.8318            OUT046                       1997

     Outlet_Size Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
8            NaN               Tier 2  Supermarket Type1          1076.5986
9            NaN               Tier 2  Supermarket Type1          4710.5350
24         Small               Tier 1  Supermarket Type1          4078.0250
51          High               Tier 3  Supermarket Type1           850.8924
78           NaN               Tier 2  Supermarket Type1          1587.9330
...          ...                  ...                ...                ...
8461       Small               Tier 1  Supermarket Type1          4165.2448
8477         NaN               Tier 2  Supermarket Type1          1970.7680
8482      Medium               Tier 3  Supermarket Type2           763.0068
8511      Medium               Tier 3  Supermarket Type2          4207.8560
8517       Small               Tier 1  Supermarket Type1          3608.6360

[470 rows x 12 columns]

In [30]:
csv_data[csv_data.Item_Type.str.startswith('M')]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
41,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013,1987,High,Tier 3,Supermarket Type1,2150.5340
61,FDV27,7.970,Regular,0.040071,Meat,87.3514,OUT045,2002,NaN,Tier 2,Supermarket Type1,1062.6168
66,FDH19,19.350,Low Fat,0.033082,Meat,172.5738,OUT035,2004,Small,Tier 2,Supermarket Type1,4865.6664
89,FDN27,20.850,Low Fat,0.039624,Meat,117.2808,OUT049,1999,Medium,Tier 1,Supermarket Type1,1523.3504
...,...,...,...,...,...,...,...,...,...,...,...,...
8443,FDX15,17.200,LF,0.156542,Meat,162.4578,OUT049,1999,Medium,Tier 1,Supermarket Type1,2888.2404
8460,FDN39,19.350,Regular,0.065508,Meat,168.9816,OUT035,2004,Small,Tier 2,Supermarket Type1,2852.2872
8470,FDW27,5.860,Regular,0.151088,Meat,155.1314,OUT049,1999,Medium,Tier 1,Supermarket Type1,1551.3140
8491,FDO03,10.395,Regular,0.037033,Meat,227.9352,OUT018,2009,Medium,Tier 3,Supermarket Type2,4809.7392
8513,FDH31,12.000,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252

In [31]:
names = ['M','F','Meat']
csv_data[csv_data.Item_Type.isin(names)]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
41,FDK43,9.800,Low Fat,0.026818,Meat,126.0020,OUT013,1987,High,Tier 3,Supermarket Type1,2150.5340
61,FDV27,7.970,Regular,0.040071,Meat,87.3514,OUT045,2002,NaN,Tier 2,Supermarket Type1,1062.6168
66,FDH19,19.350,Low Fat,0.033082,Meat,172.5738,OUT035,2004,Small,Tier 2,Supermarket Type1,4865.6664
89,FDN27,20.850,Low Fat,0.039624,Meat,117.2808,OUT049,1999,Medium,Tier 1,Supermarket Type1,1523.3504
...,...,...,...,...,...,...,...,...,...,...,...,...
8443,FDX15,17.200,LF,0.156542,Meat,162.4578,OUT049,1999,Medium,Tier 1,Supermarket Type1,2888.2404
8460,FDN39,19.350,Regular,0.065508,Meat,168.9816,OUT035,2004,Small,Tier 2,Supermarket Type1,2852.2872
8470,FDW27,5.860,Regular,0.151088,Meat,155.1314,OUT049,1999,Medium,Tier 1,Supermarket Type1,1551.3140
8491,FDO03,10.395,Regular,0.037033,Meat,227.9352,OUT018,2009,Medium,Tier 3,Supermarket Type2,4809.7392
8513,FDH31,12.000,Regular,0.020407,Meat,99.9042,OUT035,2004,Small,Tier 2,Supermarket Type1,595.2252

In [32]:
csv_data.query("Item_Type == 'Frozen Foods' and Item_Weight > 10")

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
51,FDM40,10.195,Low Fat,0.159804,Frozen Foods,141.5154,OUT013,1987,High,Tier 3,Supermarket Type1,850.8924
78,FDL04,19.000,Low Fat,0.112557,Frozen Foods,104.9622,OUT017,2007,NaN,Tier 2,Supermarket Type1,1587.9330
...,...,...,...,...,...,...,...,...,...,...,...,...
8461,FDB17,13.150,Low Fat,0.036672,Frozen Foods,182.5976,OUT046,1997,Small,Tier 1,Supermarket Type1,4165.2448
8477,FDC05,13.100,Regular,0.099343,Frozen Foods,198.1768,OUT017,2007,NaN,Tier 2,Supermarket Type1,1970.7680
8482,FDZ28,20.000,Regular,0.051702,Frozen Foods,125.8678,OUT018,2009,Medium,Tier 3,Supermarket Type2,763.0068
8511,FDF05,17.500,Low Fat,0.026980,Frozen Foods,262.5910,OUT018,2009,Medium,Tier 3,Supermarket Type2,4207.8560
8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360

In [33]:
print(csv_data.describe())

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year  \
count  7060.000000      8523.000000  8523.000000                8523.000000
mean     12.857645         0.066132   140.992782                1997.831867
std       4.643456         0.051598    62.275067                   8.371760
min       4.555000         0.000000    31.290000                1985.000000
25%       8.773750         0.026989    93.826500                1987.000000
50%      12.600000         0.053931   143.012800                1999.000000
75%      16.850000         0.094585   185.643700                2004.000000
max      21.350000         0.328391   266.888400                2009.000000

       Item_Outlet_Sales
count        8523.000000
mean         2181.288914
std          1706.499616
min            33.290000
25%           834.247400
50%          1794.331000
75%          3101.296400
max         13086.964800

In [34]:
print(csv_data.describe(include='all'))

       Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
count             8523  7060.000000             8523      8523.000000
unique            1559          NaN                5              NaN
top              FDW13          NaN          Low Fat              NaN
freq                10          NaN             5089              NaN
mean               NaN    12.857645              NaN         0.066132
std                NaN     4.643456              NaN         0.051598
min                NaN     4.555000              NaN         0.000000
25%                NaN     8.773750              NaN         0.026989
50%                NaN    12.600000              NaN         0.053931
75%                NaN    16.850000              NaN         0.094585
max                NaN    21.350000              NaN         0.328391

                    Item_Type     Item_MRP Outlet_Identifier  \
count                    8523  8523.000000              8523
unique                     16          NaN                10
top     Fruits and Vegetables          NaN            OUT027
freq                     1232          NaN               935
mean                      NaN   140.992782               NaN
std                       NaN    62.275067               NaN
min                       NaN    31.290000               NaN
25%                       NaN    93.826500               NaN
50%                       NaN   143.012800               NaN
75%                       NaN   185.643700               NaN
max                       NaN   266.888400               NaN

        Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
count                 8523.000000        6113                 8523
unique                        NaN           3                    3
top                           NaN      Medium               Tier 3
freq                          NaN        2793                 3350
mean                  1997.831867         NaN                  NaN
std                      8.371760         NaN                  NaN
min                   1985.000000         NaN                  NaN
25%                   1987.000000         NaN                  NaN
50%                   1999.000000         NaN                  NaN
75%                   2004.000000         NaN                  NaN
max                   2009.000000         NaN                  NaN

              Outlet_Type  Item_Outlet_Sales
count                8523        8523.000000
unique                  4                NaN
top     Supermarket Type1                NaN
freq                 5577                NaN
mean                  NaN        2181.288914
std                   NaN        1706.499616
min                   NaN          33.290000
25%                   NaN         834.247400
50%                   NaN        1794.331000
75%                   NaN        3101.296400
max                   NaN       13086.964800

In [35]:
csv_data.describe(include=[np.number])

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [43]:
csv_data.describe(exclude=['O'])

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [44]:
csv_data.isnull()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [45]:
csv_data.isna()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [46]:
print(csv_data.isnull().values.any())

True

In [47]:
print(csv_data.isna().values.any())

True

In [48]:
print(csv_data.duplicated().values.any())

False

In [49]:
csv_data.dropna()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
...,...,...,...,...,...,...,...,...,...,...,...,...
8517,FDF53,20.750,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [51]:
print(csv_data.isnull().values.any())

True

In [52]:
print(csv_data.isna().values.any())

True

In [54]:
csv_data.mean(numeric_only=True)

Item_Weight                    12.857645
Item_Visibility                 0.066132
Item_MRP                      140.992782
Outlet_Establishment_Year    1997.831867
Item_Outlet_Sales            2181.288914
dtype: float64

In [55]:
csv_data.median(numeric_only=True)

Item_Weight                    12.600000
Item_Visibility                 0.053931
Item_MRP                      143.012800
Outlet_Establishment_Year    1999.000000
Item_Outlet_Sales            1794.331000
dtype: float64

In [56]:
csv_data_clone = csv_data.copy()

In [57]:
data_filling=csv_data_clone.fillna(csv_data.mean(numeric_only=True))

In [58]:
print(data_filling.head(10))

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15     9.300000          Low Fat         0.016047
1           DRC01     5.920000          Regular         0.019278
2           FDN15    17.500000          Low Fat         0.016760
3           FDX07    19.200000          Regular         0.000000
4           NCD19     8.930000          Low Fat         0.000000
5           FDP36    10.395000          Regular         0.000000
6           FDO10    13.650000          Regular         0.012741
7           FDP10    12.857645          Low Fat         0.127470
8           FDH17    16.200000          Regular         0.016687
9           FDU28    19.200000          Regular         0.094450

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
6            Snack Foods   57.6588            OUT013
7            Snack Foods  107.7622            OUT027
8           Frozen Foods   96.9726            OUT045
9           Frozen Foods  187.8214            OUT017

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3
5                       2009      Medium               Tier 3
6                       1987        High               Tier 3
7                       1985      Medium               Tier 3
8                       2002         NaN               Tier 2
9                       2007         NaN               Tier 2

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052
5  Supermarket Type2           556.6088
6  Supermarket Type1           343.5528
7  Supermarket Type3          4022.7636
8  Supermarket Type1          1076.5986
9  Supermarket Type1          4710.5350

In [59]:
data_filling=csv_data_clone.fillna(csv_data.median(numeric_only=True))

In [60]:
print(data_filling.head(10))

  Item_Identifier  Item_Weight Item_Fat_Content  Item_Visibility  \
0           FDA15        9.300          Low Fat         0.016047
1           DRC01        5.920          Regular         0.019278
2           FDN15       17.500          Low Fat         0.016760
3           FDX07       19.200          Regular         0.000000
4           NCD19        8.930          Low Fat         0.000000
5           FDP36       10.395          Regular         0.000000
6           FDO10       13.650          Regular         0.012741
7           FDP10       12.600          Low Fat         0.127470
8           FDH17       16.200          Regular         0.016687
9           FDU28       19.200          Regular         0.094450

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
3  Fruits and Vegetables  182.0950            OUT010
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
6            Snack Foods   57.6588            OUT013
7            Snack Foods  107.7622            OUT027
8           Frozen Foods   96.9726            OUT045
9           Frozen Foods  187.8214            OUT017

   Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                       1999      Medium               Tier 1
1                       2009      Medium               Tier 3
2                       1999      Medium               Tier 1
3                       1998         NaN               Tier 3
4                       1987        High               Tier 3
5                       2009      Medium               Tier 3
6                       1987        High               Tier 3
7                       1985      Medium               Tier 3
8                       2002         NaN               Tier 2
9                       2007         NaN               Tier 2

         Outlet_Type  Item_Outlet_Sales
0  Supermarket Type1          3735.1380
1  Supermarket Type2           443.4228
2  Supermarket Type1          2097.2700
3      Grocery Store           732.3800
4  Supermarket Type1           994.7052
5  Supermarket Type2           556.6088
6  Supermarket Type1           343.5528
7  Supermarket Type3          4022.7636
8  Supermarket Type1          1076.5986
9  Supermarket Type1          4710.5350

In [61]:
csv_data['Item_MRP'].astype('float')

0       249.8092
1        48.2692
2       141.6180
3       182.0950
4        53.8614
          ...
8518    214.5218
8519    108.1570
8520     85.1224
8521    103.1332
8522     75.4670
Name: Item_MRP, Length: 8523, dtype: float64

In [62]:
csv_data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [63]:
csv_data['Item_MRP']=csv_data['Item_MRP'].astype('float')

In [64]:
csv_data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object