In [2]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.8-cp310-cp310-macosx_11_0_arm64.whl.metadata (52 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.2-cp310-cp310-macosx_11_0_arm64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.61.1-cp310-cp310-macosx_10_9_universal2.whl.metadata (114 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.9-cp310-cp310-macosx_11_0_arm64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from matplotlib) (2.2.6)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Using cached pillow-12.1.0-cp310-cp310-macosx_11_0_arm64.whl.metadata (8.8 kB)
Collecting pyparsing>=3 (from matplotlib)
  Downloading pyparsing-3.3.1-py3-none-any.whl.metadata (5.6 kB)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/dbmsl/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.8-cp310-cp310-macosx_11_0_arm64.whl (8.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.1/8.1 MB 46.2 MB/s  0:00:00
Downloading contourpy-1.3.2-cp310-cp310-macosx_11_0_arm64.whl (253 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.61.1-cp310-cp310-macosx_10_9_universal2.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 46.6 MB/s  0:00:00
Downloading kiwisolver-1.4.9-cp310-cp310-macosx_11_0_arm64.whl (65 kB)
Using cached pillow-12.1.0-cp310-cp310-macosx_11_0_arm64.whl (4.7 MB)
Downloading pyparsing-3.3.1-py3-none-any.whl (121 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7/7 [matplotlib]7 [matplotlib]
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.61.1 kiwisolver-1.4.9 matplotlib-3.10.8 pillow-12.1.0 pyparsing-3.3.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv("./StudentData.csv")
display(df)

       N  Gender  Age Address  Height  Weight    Eye  Medu  Fedu Fsize
0      1  Female   19       R     154     132   Blue     3     3   GT3
1      2  Female   17       U     190     118   Blue     3     2   GT3
2      3  Female   17       U     181     111   Blue     4     4   LE3
3      4  Female   17       R     144      66   Blue     2     3   GT3
4      5  Female   18       R     148      54   Blue     1     2   GT3
..   ...     ...  ...     ...     ...     ...    ...   ...   ...   ...
495  496    Male   18       R     141      86  Green     2     3   GT3
496  497    Male   17       U     173     139  Green     3     1   GT3
497  498    Male   18       U     154     145  Green     1     1   GT3
498  499    Male   18       U     168     148  Green     2     2   GT3
499  500    Male   17       R     178      92  Green     4     3   GT3

[500 rows x 10 columns]

In [9]:
df=df.drop_duplicates()

In [10]:
long=pd.melt(df, id_vars=['N', 'name'], value_vars=['Q1','Q2','Q3','Q4'], var_name='quarter', value_name='clicks')

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['name', 'Q1', 'Q2', 'Q3', 'Q4']"